manifest {
  description = 'Creating a blast and taxonomy script for proteins' 
  author = 'Chris Wyatt'
}

process {
  executor='sge'
  penv = "smp"  
  shell = ['/bin/bash','-e']
  withLabel: "blast" {
    cpus = 16
    container = 'buchfink/diamond'
  }
   withLabel: "blastdb" {
    cpus = 4
    container = 'buchfink/diamond'
  }
}

singularity.enabled = true
