nextflow.enable.dsl = 2

manifest {
  description = 'Creating a blast and taxonomy script for proteins' 
  author = 'Chris Wyatt'
}

process {
  container = 'buchfink/diamond'
  shell = ['/bin/bash','-e']
  withLabel: "blast" {
    cpus = 4
  }
   withLabel: "blastdb" {
    cpus = 4
  }
}

docker.enabled = true