nextflow.enable.dsl = 2

manifest {
  description = 'Creating a blast and taxonomy script for proteins' 
  author = 'Chris Wyatt'
}

process {
  executor='sge'
  //shell = ['/bin/bash','-e']
  withLabel: "download" {
    clusterOptions = '-l mem=50G -l h_rt=8:0:0 -l tmpfs=400G'
    cpus = 1
  }
  withLabel: "blast" {
    penv = "smp"
    cpus = 6
    container = 'chriswyatt/diamond'
    clusterOptions = '-l mem=20G -l h_rt=4:0:0 -l tmpfs=200G'
  }
   withLabel: "blastdb" {
    penv = "smp"
    cpus = 4
    clusterOptions = '-l mem=2G -l h_rt=8:0:0 -l tmpfs=400G'
    container = 'chriswyatt/diamond'
  }
  withLabel: "perl_pie" {
    cpus = 1
    clusterOptions = '-l mem=2G -l h_rt=0:20:0 -l tmpfs=2G'
    container = 'chriswyatt/perl_r_e1071'
  }
}

singularity.enabled = true
singularity.autoMounts = true 
