// v1 let these cluster jobs exceed the global caps, so raise them here
params {
    max_cpus = 6
    max_memory = '40.GB'
}

singularity.enabled = true
singularity.autoMounts = true

process {

  //echo = true
  
  shell = ['/bin/bash','-e']
  withLabel: "download" {
    clusterOptions = '-l tmem=400G -l h_rt=8:0:0 -l h_vmem=400G'
    cpus = 1
  }
  withLabel: "blast" {
    penv = "smp"
    cpus = 6
    clusterOptions = '-l tmem=40G -l h_rt=24:0:0 -l h_vmem=400G'
  }
  withLabel: "perl_pie" {
    cpus = 1
    clusterOptions = '-l tmem=2G -l h_rt=0:20:0 -l h_vmem=2G'
  }
  withLabel: "transdecoder" {
    cpus = 1
    clusterOptions = '-l tmem=2G -l h_rt=1:30:0 -l h_vmem=2G'
  }

}
