process {

  shell = ['/bin/bash','-e']
  withLabel: "download" {
    cpus = 1
  }
  withLabel: "blast" {
    cpus = 2
    container = 'chriswyatt/diamond'
  }
   withLabel: "blastdb" {
    cpus = 2
    container = 'chriswyatt/diamond'
  }
  withLabel: "perl_pie" {
    cpus = 1
    container = 'chriswyatt/perl_r_e1071'
  }
  withLabel: "transdecoder" {
    cpus = 1
    container = 'chriswyatt/transdecoder'
  }
}

docker.runOptions='-u $(id -u):$(id -g)'
docker.enabled = true
docker.autoMounts = true 
