
executor='sge'
singularity.enabled = true
singularity.autoMounts = true

process {

  //echo = true
  
  shell = ['/bin/bash','-e']
  withLabel: "download" {
    clusterOptions = '-l mem=50G -l h_rt=8:0:0 -l tmpfs=400G'
    cpus = 1
  }
  withLabel: "blast" {
    penv = "smp"
    cpus = 6
    container = 'chriswyatt/diamond'
    clusterOptions = '-l mem=40G -l h_rt=24:0:0 -l tmpfs=400G'
  }
  // withLabel: "split_fasta" {
  // cpus = 1
  //  container = 'chriswyatt/diamond'
  // clusterOptions = '-l mem=1G -l h_rt=0:5:0 -l tmpfs=1G'
  //}
   withLabel: "ncbiblast"{
    penv = "smp"
    cpus = 6
    container = 'ncbi/blast'
    clusterOptions = '-l mem=40G -l h_rt=48:0:0 -l tmpfs=400G'
  }
   withLabel: "blastdb" {
    penv = "smp"
    cpus = 4
    clusterOptions = '-l mem=2G -l h_rt=8:0:0 -l tmpfs=400G'
    container = 'chriswyatt/diamond'
  }
  withLabel: "ncbi_blastdb" {
    penv = "smp"
    cpus = 4
    clusterOptions = '-l mem=2G -l h_rt=8:0:0 -l tmpfs=400G'
    container = 'ncbi/blast'
  }
  withLabel: "perl_pie" {
    cpus = 1
    clusterOptions = '-l mem=2G -l h_rt=0:20:0 -l tmpfs=2G'
    container = 'chriswyatt/perl_r_e1071'
  }
  withLabel: "transdecoder" {
    cpus = 1
    clusterOptions = '-l mem=2G -l h_rt=1:30:0 -l tmpfs=2G'
    container = 'chriswyatt/transdecoder'
  }

}
